
body {
	font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
}

.navbar {
	background: #2dace3!important;
}

.status {
	margin-right: 25px;
}

.card-deck {
	margin: 15px 0px 15px 0px!important;
}

.onder {
	margin-bottom: 25px;
}